body {
	font-family: Helvetica, arial;
	background: #fff url('background.png') repeat-y left top; 
	color: #222;
}


#docify_nav {
	width: 216px;
	position: fixed;
	left: 0;
	top: 0;
	text-align: right;
}

#docify_body {
	margin-left: 216px;
	padding: 0 10px 10px 20px;
}


h1, h2 {
	color: #53637D;
	font-size: 200%;
	font-weight: normal;
	margin: 0;
	padding-bottom: 4px;
	padding-top: 13px;
	text-shadow: white 0 1px 2px;
	border-bottom: 1px solid #eee;
}

h2 {
	margin: 30px 0 10px 0;
	font-size: 140%;
}


h3 {
	font-size: 115%;
}


h2 a{
	padding-top: 18px;
}

#docify_nav h1 {
	padding: 21px 15px 0 4px;
	border-bottom: none;
}

#docify_nav ul {
	padding: 0;
	list-style: none;
}

#docify_nav > ul {
	margin: 20px 0;
}

#docify_nav ul ul {
    display: none;
}


#docify_nav li {
    position: relative;
}

#docify_nav a.docify_nav_link {
	cursor: pointer;
	display: block;
	font-size: 0.9em;
	outline: none;
	text-decoration: none;
	text-align: end;
	padding: 12px 15px;
	color: #777;
}

#docify_nav a.docify_nav_link:hover {
	background-color: #BBCEE9;
	border-bottom: 1px solid #bbb;
	border-top: 1px solid #bbb;
	padding: 11px 15px;
	color: #333;
	z-index: 1000;
}

#docify_nav ul ul a {
	font-size: 0.75em;
    display: block;
    padding: 6px 15px;
    text-transform:capitalize;
}

a.maximise, a.minimise {
    position: absolute;
    left: 10px;
    top: 13px;
    width: 16px;
    height: 16px;
    background-image: url('maximise.png');
    opacity: 0.3;
    cursor: pointer;
}


a.minimise {
    background-image: url('minimise.png');
}

a.maximise:hover, a.minimise:hover {
    opacity: 0.8;
}

pre {
	width: auto;
}

ul {
	padding: 0px;
	list-style-type: none;
}
